<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <sql_script>
    <folder name="base" path=".\SqlScripts_Base">
      <connstring>
        Server=192.168.201.60;Trust Server Certificate=true;Integrated Security=false;User ID=sa;Password=admin@1234
      </connstring>
      <replace>
        <ele src="#{-BASE_DB-}#" dest="BASE_TEST1" /><!-- BASE DB -->
        <ele src="#{-BASE_DB_FOLDER_PATH-}#" dest="D:\MSSQL15.MSSQLSERVER\MSSQL\DATA" /><!-- BASE DB 配置フォルダ パス -->
        <ele src="#{-INISET_DB-}#" dest="TAKUBASE_LINK._initial_setting_base" /><!-- BASE DB 初期値ＤＢ -->
      </replace>
    </folder>
    <folder name="app" path=".\SqlScripts_App">
      <connstring>
        Server=192.168.201.60;Trust Server Certificate=true;Integrated Security=false;User ID=sa;Password=admin@1234
      </connstring>
      <replace>
        <ele src="#{-APP_DB-}#" dest="APP_TEST1" /><!-- APP DB -->
        <ele src="#{-APP_DB_FOLDER_PATH-}#" dest="D:\MSSQL15.MSSQLSERVER\MSSQL\DATA" /><!-- APP DB 配置フォルダ パス -->
        <ele src="#{-BASE_DB-}#" dest="BASE_TEST1" /><!-- BASE DB -->
        <ele src="#{-INISET_DB-}#" dest="TAKUBASE_LINK._initial_setting_app" /><!-- APP DB 初期値ＤＢ -->
        <ele src="#{-CalendarTekiCnt-}#" dest="1" /><!-- APP_SETTING_M.CalendarTekiyoCount -->
        <ele src="#{-DbOperatingEnv-}#" dest="verify" /><!-- APP_SETTING_M.DatabaseOperatingEnvironment -->
      </replace>
    </folder>
  </sql_script>
</configuration>
